
@media screen {
	body, table, #popup .window, #picker .window, .pin-top {
		background: #4BB;
		color: #000;
	}

	.window-inner {
		background: #CCC;
	}

	.window-title {
		background: #0000AA;
		color: #FFF;
	}

	pre { margin: 0; }
}

body, table, button, input {
	font-family: 'Times New Roman', serif;
	font-size: 16px !important;
}

h1,h2,h3,h4,h5 { margin: 0.2em 0.3em; }

*                          { user-select: none; }
textarea, input[type=text] { user-select: initial; }
canvas                     { pointer-events: none; }

.window-outer {
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.window-outer.modal {
	pointer-events: initial;
	background-attachment: fixed;
	background-image: radial-gradient(
		circle at center,
		black 1px,
		transparent 0
	);
	background-size: 4px 4px;
	background-repeat: round;
}

.window-inner {
	position: absolute;
	pointer-events: initial;
	border: 2px outset;
	display: flex;
	flex-direction: column;
}

.window-inner.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.window-title {
	padding: 2px;
	font-weight: bold;
	flex-shrink: 1;
}

.window-inner.dialog .window-body {
	padding: 4px;
}

.window-inner.dialog .window-body,
.window-inner.vscroll .window-body {
	overflow-x: clip;
	overflow-y: auto;
}

@media screen {
	.window-inner.xyscroll .window-body {
		overflow-x: scroll !important;
		overflow-y: scroll !important;
	}
}

.window-inner.autosize {
	min-width: 33vw;
	max-width: max-content;
}

.window-inner.autosize .window-body {
	min-height: 20vh;
	max-height: calc(100vh - 6em);
}

.window-inner.psm-diagram {
	top: 0.5vh;
	left: 25.0vw;
	width: 74.5vw;
	height: 99.0vh
}

.window-inner.psm-properties {
	top: 50.5vh;
	left: 0.5vw;
	width: 24vw;
	height: 49vh;
}

.window-inner.psm-navigation {
	top: 0.5vh;
	left: 0.5vw;
	width: 24vw;
	height: 49vh;
}

body.narrow-viewport .window-inner.psm-diagram {
	left: 0.5vw;
	width: 99vw;
	height: 49.5vh;
}

body.narrow-viewport .window-inner.psm-properties {
	left: 50.5vw;
	width: 49.0vw;
}

body.narrow-viewport .window-inner.psm-navigation {
	left: 0.5vw;
	width: 49.0vw;
}

body.narrow-viewport .window-inner.psm-properties,
body.narrow-viewport .window-inner.psm-navigation {
	top: 50.5vh;
	height: 49.0vh;
}

.window-inner.psm-diagram .window-body,
.window-inner.psm-properties .window-body,
.window-inner.psm-navigation .window-body {
	height: 100%;
}

.diagram-root {
	position: relative;
}

.drawing-node {
	position: absolute;
}

.drawing-br-anchor {
	position: absolute;
	width: 1px; height: 1px;
	pointer-events: none;
}

@media print {
	.window-outer, .window-title {
		display: none;
	}

	.window-outer.printable, .window-inner.printable {
		display: initial;
		border: none !important;
		left: unset !important;
		right: unset !important;
		top: unset !important;
		bottom: unset !important;
		width: unset !important;
		height: unset !important;
		min-width: unset !important;
		max-width: unset !important;
		min-height: unset !important;
		max-height: unset !important;
		overflow-x: visible !important;
		overflow-y: visible !important;
	}

	.window-inner.printable > .window-body {
		position: initial !important;
		display: block !important;
	}

	.diagram-root {
		margin-top: -50vw;
		margin-left: -50vw;
	}
}


.drawing-node.functional-node {
	min-width: 150px;
	background: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: thin solid #888;
	z-index: 20;
}

.drawing-node.functional-node .title {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 2px 2px 2px 6px;
}

.drawing-node.functional-node .draggable {
	cursor: grab;
}

.drawing-node.functional-node.selectable .title {
	background: #009;
	color: #fff;
}

.drawing-node.functional-node.selectable.selected {
	border: thin solid #0f0;
}

.drawing-node.functional-node.selectable.selected .title {
	background: #aff;
	color: #000;
}

.drawing-node.functional-node.selectable.function-type .title {
	background: #730;
	color: #fff;
}

.drawing-node.functional-node.selectable.selected.function-type .title {
	background: #fc7;
	color: #000;
}

.drawing-node.functional-node .label {
	white-space: nowrap;
	padding: 0px 4px;
}

.drawing-node.functional-node .pin-input {
	display: block;
	position: absolute;
	left: calc(-1em - 3px);
	width: 1em; height: 1em;
}

.drawing-node.functional-node .pin-output {
	display: block;
	position: absolute;
	left: calc(100% + 2px);
	width: 1em; height: 1em;
}

.drawing-node.functional-node .pin-input,
.drawing-node.functional-node .pin-output {
	background: radial-gradient(circle at center, transparent 0px, white 6px, transparent 0px) no-repeat;
}

.drawing-node.functional-node .pin-input.off-page,
.drawing-node.functional-node .pin-output.off-page {
	background: radial-gradient(circle at center, #060 0px, transparent 8px) no-repeat;
}

.drawing-node.functional-node .pin-input.on-page,
.drawing-node.functional-node .pin-output.on-page {
	background: radial-gradient(circle at center, black 0px, transparent 6px) no-repeat;
}

.diagram-root svg.zigzag {
	display: block;
	position: absolute;
	overflow: visible;
	pointer-events: none;
	z-index: 10;
}

.diagram-root svg.zigzag path {
	stroke: black;
	stroke-width: 1px;
	fill: none;
}

.diagram-root svg.zigzag path.selected {
	stroke: #afa;
	stroke-width: 3px;
}

.properties-table {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: baseline;
}

.properties-table hr {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
}

.properties-table .label {
	margin-top: 3px;
	padding: 2px 6px;
	font-weight: bold;
	grid-column: 1;
	text-align: right;
}

.properties-table .value {
	margin-top: 3px;
	padding: 2px 6px;
	display: flex;
	grid-column: 2;
}

.properties-table .value span {
	padding: 3px;
	align-items: baseline;
}

.properties-table .map-grid {
	display: grid;
	width: 100%;
	grid-template-columns: min-content 1fr;
}

.properties-table .map-key {
	line-break: strict;
	white-space: nowrap;
	padding-right: 1ch;
}

.properties-table .map-key button {
	margin-right: 1ch;
}
